<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
  <style>
    #title {
        width: 70%;
        text-align: center;
      }

    #write {
      width: 70%;
      text-align: right;
    }

    #table {
      width: 70%;
    }
    /* Bootstrap 수정 */
    .table > thead {
      background-color: #b3c6ff;
    }
    .table > thead > tr > td {
      text-align: center;
    }
    .table-hover > tbody > tr:hover {
      background-color: #e6ecff;
    }
    .table > tbody > tr > td {
      text-align: center;
    }
    .table > tbody > tr > #title {
      text-align: center;
    }

    div > #paging {
      text-align: center;
    }

  </style>
</head>
<body>
  <div id="title">
    <h1><%= title %></h1>
  </div>
  <div id="write">
    <form action="/noticeboard/write_notice">
      <button type="submit" class="btn">글쓰기</button>
    </form>
  </div>
  <div id="table">
    <table border="1" class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <td width="10%">번호</td>
          <td width="50%">제목</td>
          <td width="30%">작성자</td>
          <td width="10%">조회수</td>
        </tr>
      </thead>

    <%
      for(var i=(page*page_num)-page_num;i<(page*page_num);i++)
      {
        if(i > leng){
          i++;
        }
        else{
          var oneItem = rows[i];
    %>
      <tbody>
        <tr>
          <td><%=i+1%></td>
          <td><a href="/noticeboard/read_notice/<%=oneItem.idx%>"><%=oneItem.title%></a></td>
          <td><%=oneItem.creator_id%></td>
          <td><%=oneItem.hit%></td>
        </tr>
      </tbody>
    <%
        }
      }
    %>
    </table>
    <div id="paging">
      <%
        for(var j=0;j<rows.length/5;j++){
      %>
        [ <a href="/noticeboard/list_notice/<%= j+1 %>"><%= j+1 %></a>]
      <%
        }
      %>
    </div>
  </div>
<script type="text/javascript" src="/javascripts/bootstrap.js"></script>

</body>
</html>
