<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>PITAPET</title>
    <script src="/javascripts/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="css/1-col-portfolio.css" rel="stylesheet"/>
    <style>
      /* CSS for Credit Card Payment form */
      .credit-card-box .panel-title {
        display: inline;
        font-weight: bold;
      }
      .credit-card-box .form-control.error {
        border-color: red;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
      }
      .credit-card-box label.error {
      font-weight: bold;
      color: red;
      padding: 2px 8px;
      margin-top: 2px;
      }
      .credit-card-box .payment-errors {
      font-weight: bold;
      color: red;
      padding: 2px 8px;
      margin-top: 2px;
      }
      .credit-card-box label {
        display: block;
      }
      /* The old "center div vertically" hack */
      .credit-card-box .display-table {
        display: table;
      }
      .credit-card-box .display-tr {
        display: table-row;
      }
      .credit-card-box .display-td {
        display: table-cell;
        vertical-align: middle;
        width: 50%;
      }
      /* Just looks nicer */
      .credit-card-box .panel-heading img {
        min-width: 180px;
      }
    </style>
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">PITAPET</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users">MyPage
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/productBoard/list/1">Shop</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cart">Cart
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active">
              <!-- 왜 안될까 -->
              <a class="nav-link" href="/noticeboard/list_notice/1">Community</a>
            </li>
            <li class="nav-item">
              <%
                if(id==null){
              %>
              <a class="nav-link" href="/login">LogIn</a>
              <%
                }
                else{
              %>
              <a class="nav-link" href="/login/logout">LogOut</a>
              <%
              }
              %>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4">주문서
        <small>결제하기</small>
      </h1>
      <%
        var user=id;
      %>

      <h4 class="my-4">* 상품확인</h4>
      <form>
      <!-- Project One -->
        <div class="row">
          <div class="col-md-12">
            <div class="project_table">
              <table border="1" class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th width="60%">상품명</th>
                    <th width="10%">정가</th>
                    <th width="10%">할인</th>
                    <th width="10%">수량</th>
                    <th width="10%">합계</th>
                  </tr>
                </thead>
                <tbody>
                  <%
                  var total_price=0;
                  var total_discount=0;
                  var product_name='';
                  for(var i=0;i<(leng);i++){
                    product_name=product_name+row_cart[i].name+" "+row_cart[i].amount+"개"+" ";
                    var cart=row_cart[i];
                  %>
                  <tr>
                    <td>
                      <!--<img src="<%=cart.pic%>" name="image" style="max-width: 50%; height: auto;">-->
                      <%=cart.name%>
                    </td>
                    <td><%=cart.price%></td>
                    <td>
                      <%
                        if(cart.event!=0&&cart.event!=null){
                      %>
                      -<%=cart.event%>%
                      <%
                        }
                      %>
                    </td>
                    <td><%=cart.amount%></td>
                    <td>
                      <%
                        var before=cart.price;
                        var amount=cart.amount;
                        var discount=0;
                        if(cart.event!=0&&cart.event!=null){
                          var rate=cart.event;
                          discount=before*amount*rate*0.01;
                        }
                        var after=(before*amount)-discount;
                        total_price+=(before*amount);
                        total_discount+=discount;
                      %>
                      <%=after%>원
                    </td>
                  </tr>
                  <%
                  }
                  %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </form>
      <form action="/cart">
        * 상품변경을 원하시면 <button type="submit" class="btn" onclick="return confirm('장바구니로 이동하시겠습니까?')">장바구니 ></button>
      </form>
      <hr>
      <form>
        <div class="row">
          <div class="col-md-12">
            <div class="price">
              <table border="1" class="table table-striped table-bordered" id="price_table">
                <thead>
                  <tr>
                    <th width="20%">총 상품금액</th>
                    <th width="20%">총 할인금액</th>
                    <th width="20%">사용할 적립금</th>
                    <th width="40%">최종결제금액</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><%=total_price%>원</td>
                    <td><%=total_discount%>원</td>
                    <td><%=row_user.point%>원</td>
                    <td>
                      <%
                        var real_price=total_price-total_discount;
                        var real_price2=total_price-total_discount;
                        if(row_user.point!=null){
                          real_price=real_price-row_user.point;
                        }
                      %>
                      <%=real_price%>원
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-md-6">
          <form>
            * 보유적립금 : <%=row_user.point%>원
            <%
              if(row_user.point==null||row_user.point<=10){
            %>
              <br><small>사용할 수 있는 적립금이 없습니다. 10원 이상부터 사용 가능합니다.</small>
            <%
              }
              else{
            %>
              <br>
              <small>사용할 적립금을 입력하세요.
                <input type="number" name="point" id="point" class="input-lg" placeholder="적립금입력" value="<%=row_user.point%>" tabindex="1">
                <button type="button" class="btn-sm" onclick="point_apply();">적용</button>
              </small>
            <%
              }
            %>
          </form>
        </div>
        <div class="col-md-6">
          <%
            var getp = real_price2 * 0.05;
          %>
          * 적립혜택 : <%=getp%>원
        </div>
      </div>
      <!-- /.row -->
      <hr>
      <!-- Project Two -->
      <div class="row">
        <div class="col-md-7">
          <h4 class="my-4">* 배송주소</h4>
          <div class="deliver_table">
            <table border="1" class="table table-striped table-bordered">
              <tr>
                <th width="20%">받는 분 이름</th>
                <td width="80%"><input type="text" name="name_get" id="name_get" class="form-control input-lg" placeholder="이름" value="<%=row_user.name%>" tabindex="3" required></td>
              </tr>
              <tr>
                <th width="20%">배송주소</th>
                <td width="80%"><input type="text" name="address" id="address" class="form-control input-lg" placeholder="주소" value="<%=row_user.address%>" tabindex="6" required></td>
              </tr>
              <tr>
                <th width="20%">핸드폰</th>
                <td width="80%"><input type="hidden" name="tel" id="tel" required>
                <select name="tel1" id="tel1" >
                  <option value="010">010</option>
                  <option value="011">011</option>
                  <option value="016">016</option>
                  <option value="017">017</option>
                  <option value="018">018</option>
                  <option value="019">019</option>
                </select>
                -
                <input type="text" name="tel2" id="tel2" size="4" maxLength="4" required>
                -
                <input type="text" name="tel3" id="tel3" size="4" maxLength="4" required></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="col-md-5">
          <h4 class="my-4">* 주문고객</h4>
          <div class="user_table table-sm">
            <table border="1" class="table table-striped table-bordered">
              <tr>
                <th width="30%">아이디</th>
                <td width="70%"><input type="text" name="id_user" id="id_user" class="form-control input-lg" placeholder="아이디" value="<%=user%>" tabindex="2" required></td>
              </tr>
              <tr>
                <th width="30%">이름</th>
                <td width="70%"><input type="text" name="name" id="name" class="form-control input-lg" placeholder="이름" value="<%=row_user.name%>" tabindex="3" required></td>
              </tr>
              <tr>
                <th width="30%">핸드폰</th>
                <td width="70%"><input type="hidden" name="tel_user" id="tel_user" value="<%=row_user.tel%>" required>
                  <select name="tel1_user" id="tel1_user" >
                    <option value="010">010</option>
                    <option value="011">011</option>
                    <option value="016">016</option>
                    <option value="017">017</option>
                    <option value="018">018</option>
                    <option value="019">019</option>
                  </select>
                  -
                  <input type="text" name="tel2_user" id="tel2_user" size="4" maxLength="4" required>
                  -
                  <input type="text" name="tel3_user" id="tel3_user" size="4" maxLength="4" required><br>
                  <small>* 이 번호로 주문진행과정이 SMS로 안내됩니다.</small>
                </td>
              </tr>
              <tr>
                <th width="30%">이메일</th>
                <td width="70%"><input type="email" name="email" id="email" class="form-control input-lg" placeholder="이메일" value="<%=row_user.email%>" tabindex="4" required></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.payment/1.2.3/jquery.payment.min.js"></script>
      <!-- If you're using Stripe for payments -->
      <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
      <!-- Project Three -->
      <div class="row">
        <div class="col-md-7">
          <div class="container">
              <div class="row">
                  <!-- You can make it whatever width you want. I'm making it full width
                       on <= small devices and 4/12 page width on >= medium devices -->
                  <div class="col-md-12 col-md-6">
                      <!-- CREDIT CARD FORM STARTS HERE -->
                      <div class="panel panel-default credit-card-box">
                          <div class="panel-heading display-table" >
                              <div class="row display-tr" >
                                  <h4 class="panel-title display-td" >Payment Details</h4>
                                  <div class="display-td" >
                                      <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                                  </div>
                              </div>
                          </div>
                          <div class="panel-body">
                              <form role="form" id="payment-form">
                                  <div class="row">
                                      <div class="col-xs-7 col-md-7">
                                          <div class="form-group">
                                              <label for="cardNumber">CARD NUMBER</label>
                                              <div class="input-group">
                                                  <input type="tel" class="form-control" name="cardNumber" id="cardNumber" placeholder="Valid Card Number" required/>
                                                  <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-xs-7 col-md-7">
                                          <div class="form-group">
                                              <label for="cardExpiry"><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE</label>
                                              <input type="tel" class="form-control" name="cardExpiry" id="cardExpiry" placeholder="MM / YY" required/>
                                          </div>
                                      </div>
                                      <div class="col-xs-5 col-md-5 pull-right">
                                          <div class="form-group">
                                              <label for="cardCVC">CV CODE</label>
                                              <input type="tel" class="form-control" name="cardCVC" id="cardCVC" placeholder="CVC" required/>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-xs-7 col-md-7">
                                          <div class="form-group">
                                              <label for="couponCode">COUPON CODE</label>
                                              <input type="text" class="form-control" name="couponCode" />
                                          </div>
                                      </div>
                                  </div>
                                  <div class="row" style="display:none;">
                                      <div class="col-xs-12">
                                          <p class="payment-errors"></p>
                                      </div>
                                  </div>
                              </form>
                          </div>
                      </div>
                      <!-- CREDIT CARD FORM ENDS HERE -->
                  </div>
              </div>
          </div>
        </div>
        <div class="col-md-5">
          <table border="1" name="final_check" id="final_check" class="table table-striped table-bordered">
            <tr>
              <th>택배사직원에게</th>
              <td><input type="text" name="ms1"/></td>
            </tr>
            <tr>
              <th>받는분께</th>
              <td><input type="text" name="ms2"/></td>
            </tr>
            <tr>
              <th>최종결제금액</th>
              <td><%=real_price%>원</td>
            </tr>
          </table>
          <small>
            * 주문하실 상품, 가격, 배송정보, 할인정보 등을 확인하였으며, 구매에 동의하시겠습니까?
            <label class="container">
              <input type="checkbox" name="agreeBox" id="agreeBox" required/>
              <span class="checkmark"></span>동의합니다.
            </label>
          </small>
          <div class="col-xs-7 col-md-4">
            <form action="/payment/ordered" method="post" onsubmit="return onPaymentSubmit()" enctype='multipart/form-data'>
              <input type="hidden" name="productName" id="productName" value="aaaaaa" />
              <input type="hidden" name="productPrice" id="productPrice" value="1234" />
              <input type="hidden" name="earnPoint" value="1234"/>
              <button class="subscribe btn btn-success btn-lg btn-block" type="submit" onclick="return confirm('결제하시겠습니까?')">결제하기</button>
            </form>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
    <hr>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; PITAPET 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
    <script>
      function point_apply(){
        var point = document.getElementById('point').value;
        var table1 = document.getElementById("price_table");
        var table2=document.getElementById("final_check");
        var have = "<%=row_user.point%>";
        var tp="<%=real_price2%>";
        if(point>have){
          alert("보유 포인트를 초과하여 입력하였습니다.");
        }
        else{
          tp=tp-point;
          table1.rows[1].cells[2].innerHTML = point+"원";
          table1.rows[1].cells[3].innerHTML = tp+"원";
          table2.rows[2].cells[1].innerHTML = tp+"원";
        }
      }
    </script>
    <script>
    function onPaymentSubmit()
    {
      if( $("#name_get").val().trim()=="")
      {
        var message = "받는 분 이름을 입력해 주세요";
        $("#name_get").val("");
        $("#name_get").focus();
        alert(message);
        return false;
      }

      if($("#address").val().trim()=="")
      {
        var message = "주소를 입력해 주세요";
        $("#address").val("");
        $("#address").focus();
        alert(message);
        return false;
      }

      if($("#tel2").val().trim()=="")
      {
        var message = "휴대전화번호를 입력해 주세요";
        $("#tel2").val("");
        $("#tel2").focus();
        alert(message);
        return false;
      }

      if($("#tel3").val().trim()=="")
      {
        var message = "휴대전화번호를 입력해 주세요";
        $("#tel3").val("");
        $("#tel3").focus();
        alert(message);
        return false;
      }

      if($("#id").val().trim()=="")
      {
        var message = "아이디를 입력해 주세요";
        $("#id").val("");
        $("#id").focus();
        alert(message);
        return false;
      }

      if($("#email").val().trim()=="")
      {
        var message = "이메일을 입력해 주세요";
        $("#email").val("");
        $("#email").focus();
        alert(message);
        return false;
      }

      if($("#cardNumber").val()=="")
      {
        var message = "카드번호를 입력해 주세요";
        $("#cardNumber").val("");
        $("#cardNumber").focus();
        alert(message);
        return false;
      }

      if($("#cardExpiry").val().trim()=="")
      {
        var message = "카드정보를 입력해 주세요";
        $("#cardExpiry").val("");
        $("#cardExpiry").focus();
        alert(message);
        return false;
      }

      if($("#cardCVC").val().trim()=="")
      {
        var message = "CVC번호를 입력해 주세요";
        $("#cardCVC").val("");
        $("#cardCVC").focus();
        alert(message);
        return false;
      }

      if(document.getElementById("agreeBox").checked == false){
        var message = "구매에 동의해주세요";
        $("#agreeBox").focus();
        alert(message);
        return false;
      }
    }
    </script>
</body>
</html>
