<!DOCTYPE html>
<html>
  <head>
    <script src="/javascripts/jquery-3.3.1.min.js"></script>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <h1><%= title %></h1>
      <table border="1">
        <input type="hidden" name="idx" value="<%=row.idx%>"/>
        <tr>
          <td>상품 사진</td>
          <td><image src=<%=row.main_img%> alt="image" width="200" height="200"></td>
        </tr>
        <tr>
          <td>상품 이름</td>
          <td><%=row.prd_name%></td>
        </tr>
        <tr>
          <td>가격</td>
          <td><%=row.price%></td>
        </tr>
        <tr>
          <td colspan="2">
            <button onclick="goBack()">목록</button>
            <script>
              function goBack() {
                window.history.back();
              }
            </script>
            <button onclick="updateProduct(<%=row.idx%>)">수정</button>
            <script>
              function updateProduct(idx) {
                location.href = "/productBoard/update?idx="+idx;
              }
            </script>
            <button onclick="deleteProduct(<%=row.idx%>)">삭제</button>
            <script>
              function deleteProduct(idx) {
                if(confirm("상품을 목록에서 삭제하시겠습니까?")==true) {
                  location.href = "/productBoard/delete/"+idx;
                }
              }
            </script>
          </td>
        </tr>

      </table>
  </body>
</html>
