<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%=web_name%></title>

    <!-- Bootstrap core CSS -->
    <link href="/template/item_view/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/template/item_view/css/shop-item.css" rel="stylesheet">
    <style>
      .left-box {
        float: left;
        width: 50%;
      }
      .right-box {
        float: right;
        width: 50%;
      }
    </style>
  </head>
  <body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">PITAPET</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/productBoard" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                <a class="dropdown-item" href="/productBoard/foodList/1">Food</a>
                <a class="dropdown-item" href="/productBoard/clothesList/1">Clothes</a>
                <a class="dropdown-item" href="/productBoard/toyList/1">Toy</a>
                <a class="dropdown-item" href="/productBoard/healthCareList/1">Health Care</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/infoboard">Community</a>
            </li>

            <%
            if(id == null){
              %>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <%
            }
            else{
              %>
              <li class="nav-item">
                <a class="nav-link" href="/cart">Cart</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users">Mypage</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login/logout">Logout</a>
              </li>
              <%
            }
            %>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <h1 class="my-4"><%=title%></h1>
        </div>
        <!-- /.col-lg-3 -->
        <div class="col-lg-9">
          <%
          if(id == "manager" | id=="seller") {%>
            <div align="right" id="forMaster">
              <a class="text-black text-left" onclick="deleteProduct(<%=row.idx%>)">Delete</a>
              <script>
                function deleteProduct(idx) {
                  if(confirm("상품을 목록에서 삭제하시겠습니까?")==true) {
                    location.href = "/productBoard/delete_product/?idx=<%=row.idx%>&category=<%=row.category%>";
                  }
                }
              </script>
              /
              <a class="m-0 text-black" onclick="updateProduct(<%=row.idx%>)">Edit</a>
              <script>
                function updateProduct(idx) {
                  location.href = "/productBoard/update_product?idx=<%=row.idx%>&category=<%=row.category%>";
                }
              </script>
          <%}
          else {%>
            <div align="right" id="forMaster">
              <a class="text-white text-left" onclick="deleteProduct(<%=row.idx%>)">Delete /</a>
              <script>
                function deleteProduct(idx) {
                  if(confirm("상품을 목록에서 삭제하시겠습니까?")==true) {
                    location.href = "/productBoard/delete_product/?idx=<%=row.idx%>&category=<%=row.category%>";
                  }
                }
              </script>
              <a class="m-0 text-white" onclick="updateProduct(<%=row.idx%>)"> Edit</a>
              <script>
                function updateProduct(idx) {
                  location.href = "/productBoard/update_product?idx=<%=row.idx%>&category=<%=row.category%>";
                }
              </script>
          <%}%>
          <%if(id!=null) {%>

          <%}%>

          </div>
          <div class="card mt-4" align="center">
            <image style="padding:5px;"src = <%=row.main_img%> width = "300" height = "300" alt="">
            <div class="card-body">
              <h3 class="card-title"><%=row.prd_name%></h3>
              <h4><%=row.price%>원</h4>
              <select name="num_prd" id="num_prd" >
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            <a onclick="addProduct(<%=row.idx%>,<%=row.category%>)" class="btn">장바구니에 추가</a>
            <script>
              function addProduct(idx, category) {
                if(confirm("상품을 장바구니에 추가하시겠습니까?")==true) {
                  var text1 = "/productBoard/addProduct?idx="
                  var num_prd = document.getElementById("num_prd").value;
                  location.href = text1.concat(idx,"&category=",category,"&num_prd=",num_prd);
                }
              }
            </script>
            </div>
          </div>
          <div class="card card-outline-secondary my-4">
            <div class="card-header">
              상품 설명
            </div>
              <div class="card-body">
                <%=row.prd_des%>
              </div>
          </div>
          <!-- /.card -->
          <div class="card card-outline-secondary my-4">
            <div class="card-header">
              Product Reviews
            </div>
              <div class="card-body">
                <%for(var i=0; i<(len) ; i++) {
                  var oneReview = reviews[i]; %>
                  <p><%=oneReview.title%></p>
                  <p><small><%=oneReview.content%></small></p>
                  <%if(oneReview.star==1){%>
                    <p><small class="text-muted">&#9733; &#9734; &#9734; &#9734; &#9734;</small></p>
                  <%}
                  else if(oneReview.star==2){%>
                    <p><small class="text-muted">&#9733; &#9733; &#9734; &#9734; &#9734;</small></p>
                  <%}
                  else if(oneReview.star==3){%>
                    <p><small class="text-muted">&#9733; &#9733; &#9733; &#9734; &#9734;</small></p>
                  <%}
                  else if(oneReview.star==4){%>
                    <p><small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small></p>
                  <%}
                  else if(oneReview.star==5){%>
                    <p><small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9733;</small></p>
                  <%}%>
                  <small class = "text-muted">Posted by <%=oneReview.creator_id%></small>
                  <hr>
                <%}%>
                <a href="/productBoard/write_review?idx=<%=row.idx%>&category=<%=row.category%>" style="border:none;background-color:#C593FF;"class="btn btn-success btn-block btn-lg">Leave a Review</a>
              </div>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col-lg-9 -->
      </div>
    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container text-right">
        <p class="m-0 text-center text-white">Copyright &copy; PITAPET 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/template/item_view/vendor/jquery/jquery.min.js"></script>
    <script src="/template/item_view/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
