<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%=web_name%></title>

    <!-- Bootstrap core CSS -->
    <link href="/template/item_view/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/template/item_view/css/shop-item.css" rel="stylesheet">
    <style>
      .left-box {
        float: left;
        width: 50%;
      }
      .right-box {
        float: right;
        width: 50%;
      }
    </style>
  </head>
  <body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">PITAPET</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/productBoard" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                <a class="dropdown-item" href="/productBoard/foodList/1">Food</a>
                <a class="dropdown-item" href="/productBoard/clothesList/1">Clothes</a>
                <a class="dropdown-item" href="/productBoard/toyList/1">Toy</a>
                <a class="dropdown-item" href="/productBoard/healthCareList/1">Health Care</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/infoboard">Community</a>
            </li>
            <%
            if(id == null){
              %>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <%
            }
            else{
              %>
              <li class="nav-item">
                <a class="nav-link" href="/cart">Cart</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users">Mypage</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login/logout">Logout</a>
              </li>
              <%
            }
            %>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">
        <div class="col-lg-3">
          <h1 class="my-4"><%=title%></h1>
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">
          <form action="/productBoard/update_product" onsubmit="return onWriteSubmit()" method="post"  enctype = "multipart/form-data">
            <div class="card card-outline-secondary my-4">
              <input type="hidden" name="idx" value="<%=row.idx%>"/>
              <div class="form-group" style="padding-left:5px; padding-top:5px;">
              <h5>카테고리
              <small><select name="category" id="category" value=<%=row.category%> >
                <option value="0">FOOD</option>
                <option value="1">CLOTHES</option>
                <option value="2">Toy</option>
                <option value="3">HEALTH CARE</option>
              </select></small>
              </h5>
            </div>

              <div class="form-group" style="padding-left:5px">
                <h5>상품이름
                  <small><input type="text" name="prd_name" id="prd_name" value="<%=row.prd_name%>" size="20" maxLength="20" style="border-left: 0px; border-right: 0px; border-top: 0px; border-bottom: 1px solid;"placeholder="상품명을 입력하세요"required/></small>
                </h5>
              </div>

              <div class="form-group" style="padding-left:5px">
                <h5>상품사진
                  <p>
                    <input type="hidden" name="image_previous" value="<%=row.main_img%>" />
                    <img src= "<%=row.main_img%>" width="200" height="200">
                  </p>
                  <small><input type="file" name="main_img" id="main_img" accept="image/*" required/></small>
                </h5>
              </div>

              <div class="form-group" style="padding-left:5px">
                <h5>상세설명</h5>
                <div style="padding-left:15px">
                  <small><textarea name="prd_des" id="prd_des" cols="90" rows="15" required/><%=row.prd_des%></textarea></small>
                </div>
              </div>

              <div class="form-group" style="padding-left:5px">
                <h5>판매가격
                  <small><input type="text" name="price" id="price" value="<%=row.price%>" size="10" style="border-left: 0px; border-right: 0px; border-top: 0px; border-bottom: 1px solid;" required/>원
                  </small></h5>
              </div>

              <div class="form-group" style="padding-left:5px">
                <h5> 관심사 분류 </h5>
                    <div class="checkbox" style="padding-left:15px">
                      <label for="checkbox-0">
                        <input type="checkbox" name="tear" id="tear" value="1">
                        눈물 개선
                      </label>
                      <label for="checkbox-1">
                        <input type="checkbox" name="joint" id="joint" value="2">
                        관절 개선
                      </label>
                      <label for="checkbox-2">
                        <input type="checkbox" name="hair" id="hair" value="3">
                        모질 개선
                      </label>
                      <label for="checkbox-3">
                        <input type="checkbox" name="diet" id="diet" value="4">
                        다이어트
                      </label>
                    </div>
                </div>
                <!-- 특가 퍼센트가 0이면 오늘의 특가 적용 안한다는 의미 -->
                <div class="form-group" style="padding-left:5px">
                  <h5>오늘의 특가
                    <small><input type="text" name="td_special" id="td_special" size="5" style="border-left: 0px; border-right: 0px; border-top: 0px; border-bottom: 1px solid;" required/>%
                    </small></h5>
                </div>

                <!-- 이벤트 퍼센트가 0이면 이벤트 적용 안한다는 의미 -->
                <div class="form-group" style="padding-left:5px">
                  <h5>이벤트
                    <small><input type="text" name="event" id="event" size="5" style="border-left: 0px; border-right: 0px; border-top: 0px; border-bottom: 1px solid;" required/>%
                    </small></h5>
                </div>
              </div>
              <div align="right">
                <button type="submit" class="btn btn-success"><span>SAVE</span></button>
              </div>
            </form>
          <script>
            function onWriteSubmit() {
              if($("#prd_name").val().trim()=="") {
                var message = "상품명을 입력해주세요";
                $("#prd_name").val("");
                $("#prd_name").focus();
                alert(message);
                return false;
              }
              if($("#main_img").val().trim()=="") {
                var message = "상품 사진을 등록해 주세요";
                $("#main_img").val("");
                $("#main_img").focus();
                alert(message);
                return false;
              }
              if($("#prd_des").val().trim()=="") {
                var message = "상품을 소개해 주세요";
                $("#prd_des").val("");
                $("#prd_des").focus();
                alert(message);
                return false;
              }
              if($("#price").val().trim()=="") {
                var message = "가격을 입력해 주세요";
                $("#price").val("");
                $("#price").focus();
                alert(message);
                return false;
              }
              if($("#image").val().trim()=="") {
                var message = "이미지를 업로드해 주세요";
                $("#image").val("");
                $("#image").focus();
                alert(message);
                return false;
              }
            }
          </script>
        </div>
        <!-- /.col-lg-9 -->
      </div>
    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container text-right">

      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/template/item_view/vendor/jquery/jquery.min.js"></script>
    <script src="/template/item_view/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
