<!-- 희라: 정보조회 -->
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PITAPET - Your profile</title>

    <!-- Bootstrap core CSS -->
    <link href="http://localhost:3000/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://localhost:3000/css/one-page-wonder.min.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">PITAPET</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/productBoard" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                <a class="dropdown-item" href="/productBoard/list/1">Dog Food</a>
                <a class="dropdown-item" href="portfolio-2-col.html">Dog Clothes</a>
                <a class="dropdown-item" href="portfolio-3-col.html">Dog House</a>
                <a class="dropdown-item" href="portfolio-4-col.html">Dog Snack</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/infoboard">Community</a>
            </li>
            <%
            if(id == null){
              %>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <%
            }
            else{
              %>
              <li class="nav-item">
                <a class="nav-link" href="/cart">Cart</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users">Mypage</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login/logout">Logout</a>
              </li>
              <%
            }
            %>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white">
      <div class="masthead-content">
        <div class="container">
          <h1 class="masthead-heading mb-0">Welcome to PETPET</h1>
          <h2 class="masthead-subheading mb-0">You <%=row.name%> and Your Pet <%=row.petname%></h2>
          <a href="/users/edit" class="btn btn-primary btn-xl rounded-pill mt-5">Edit</a>
        </div>
      </div>
      <div class="bg-circle-1 bg-circle"></div>
      <div class="bg-circle-2 bg-circle"></div>
      <div class="bg-circle-3 bg-circle"></div>
      <div class="bg-circle-4 bg-circle"></div>
    </header>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img src="/user/avatar/0.jpg" name="randomimage" width=360 border="0" >
                <script>
                var maximgno = 50;
                var imgno;

                do imgno = Math.random().toString().charAt(2);
                while (imgno > maximgno || imgno < 1);
                var imgfile="/user/avatar/"+imgno+".png";

                document.randomimage.src=imgfile;
              </script>
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">Users Information</h2>
              <p><table width="400" >
        <tr>
          <th>아이디</th>
          <td><%=row.id%></td>
        </tr>
        <tr>
          <th>이메일</th>
          <td><%=row.email%></td>
        </tr>
        <tr>
          <th>전화번호</th>
          <td><%=row.tel%></td>
        </tr>
        <tr>
          <th>주소</th>
          <td><%=row.address%></td>
        </tr>
        <tr>
          <th>성별</th>
          <td><%=row.gen%></td>
        </tr>
        <tr>
          <th>생일</th>
          <td><%=row.birth%></td>
        </tr>
      </table></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="http://localhost:3000/user/petimg/<%=row.pic%>" alt="">
            </div>
          </div>
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <h2 class="display-4">Your Pets Information</h2>
              <table width="400">
                <tr>
                  <th>생일</th>
                  <td><%=row.petbirth%></td>
                </tr>
                <tr>
                  <th>나이</th>
                  <td><%=row.petage%></td>
                </tr>
                <tr>
                  <th>성별</th>
                  <td><%=row.petgen%></td>
                </tr>
                <tr>
                  <th>종류</th>
                  <td><%=row.pettype%></td>
                </tr>
                <tr>
                  <th>눈물</th>
                  <td>
                    <script>
                      if(<%=row.interest0%> == 1) document.write("yes");
                      else document.write("no");
                    </script>
                </tr>
                <tr>
                  <th>관절</th>
                  <td><script>
                    if(<%=row.interest1%> == 1) document.write("yes");
                    else document.write("no");
                  </script></td>
                </tr>
                <tr>
                  <th>모질</th>
                  <td><script>
                    if(<%=row.interest2%> == 1) document.write("yes");
                    else document.write("no");
                  </script></td>
                </tr>
                <tr>
                  <th>다이어트</th>
                  <td><script>
                    if(<%=row.interest3%> == 1) document.write("yes");
                    else document.write("no");
                  </script></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-black">
      <div class="container">
        <p class="m-0 text-center text-white small">Copyright &copy; PITAPET 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
