<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%=web_name%></title>

    <!-- Bootstrap core CSS -->
    <link href="/template/item_view/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/template/item_view/css/shop-item.css" rel="stylesheet">
    <style>
      .left-box {
        float: left;
        width: 50%;
      }
      .right-box {
        float: right;
        width: 50%;
      }
    </style>
  </head>
  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/"><%=web_name%></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home
                <!--
                <span class="sr-only">(current)</span>
              -->
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Cart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">MyPage</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Community</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">
        <div class="col-lg-3">
          <h1 class="my-4"><%=title%></h1>
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">
          <form action="/productBoard/write_product" onsubmit="return onWriteSubmit()" method="post"  enctype = "multipart/form-data">
            <div class="card card-outline-secondary my-4">
              <div class="card-header">
                Product Name
              </div>
              <div class="card-body">
                <input type="text" name="prd_name" id="prd_name" size="40" style="border-left: 0px; border-right: 0px; border-top: 0px; border-bottom: 1px solid;"required/>
              </div>
              <hr>
              <div class="card-header">
                Product Image
              </div>
              <div class="card-body">
                <input type="file" name="main_img" id="main_img" accept="image/*" required/>
              </div>
              <hr>
              <div class="card-header">
                Product Description
              </div>
              <div class="card-body">
                <textarea name="prd_des" id="prd_des" cols="90" rows="15" required/></textarea>
              </div>
              <hr>
              <div class="card-header">
                Product Price
              </div>
              <div class="card-body">
                <input type="text" name="price" id="price" size="10" style="border-left: 0px; border-right: 0px; border-top: 0px; border-bottom: 1px solid;" required/>원
              </div>
            </div>
            <div align="right">
              <button type="upload" class="btn btn-success"><span>SAVE</span></button>
            </div>
          </form>
          <script>
            function onWriteSubmit() {
              if($("#prd_name").val().trim()=="") {
                var message = "상품명을 입력해주세요";
                $("#prd_name").val("");
                $("#prd_name").focus();
                alert(message);
                return false;
              }
              if($("#main_img").val().trim()=="") {
                var message = "상품 사진을 등록해 주세요";
                $("#main_img").val("");
                $("#main_img").focus();
                alert(message);
                return false;
              }
              if($("#prd_des").val().trim()=="") {
                var message = "상품을 소개해 주세요";
                $("#prd_des").val("");
                $("#prd_des").focus();
                alert(message);
                return false;
              }
              if($("#price").val().trim()=="") {
                var message = "가격을 입력해 주세요";
                $("#price").val("");
                $("#price").focus();
                alert(message);
                return false;
              }
              if($("#image").val().trim()=="") {
                var message = "이미지를 업로드해 주세요";
                $("#image").val("");
                $("#image").focus();
                alert(message);
                return false;
              }
            }
          </script>
        </div>
        <!-- /.col-lg-9 -->
      </div>
    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container text-right">

      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/template/item_view/vendor/jquery/jquery.min.js"></script>
    <script src="/template/item_view/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>

<!--
<!DOCTYPE html>
<html>
  <head>
    <script src="/javascripts/jquery-3.3.1.min.js"></script>
    <title><%= title %></title>
    <link rel='stylesheeet' href = '/stylesheets/style.css'/>
  </head>
  <body>
    <h1><%= title%></h1>
    <form action="/board/write" method="post" onsubmit="return onWriteSubmit()" enctype = "multipart/form-data">
      <table border="1">
        <tr>
          <td>작성자</td>
          <td><input type="text" name="creator_id" id="creator_id" required/></td>
        </tr>
        <tr>
          <td>제목</td>
          <td><input type="text" name="title" id="title" required/></td>
        </tr>
        <tr>
          <td>내용</td>
          <td><textarea name="content" id="content" cols="30" rows="10" required/></textarea></td>
        </tr>
        <tr>
          <td>이미지</td>
          <td><input type="file" name="image" id="image" accept="image/*" required/></td>
        </tr>
        <tr>
          <td>패스워드</td>
          <td><input type="password" name="passwd" id="passwd" required/></td>
        </tr>
        <tr>
          <td colspan = "2">
            <button type="upload">글쓰기</button>
          </td>
        </tr>
      </table>
    </form>
    <script>
      function onWriteSubmit() {
        if($("#creator_id").val().trim()=="") {
          var message = "아이디를 입력해 주세요";
          $("#creator_id").val("");
          $("#creator_id").focus();
          alert(message);
          return false;
        }
        if($("#title").val().trim()=="") {
          var message = "제목을 입력해 주세요";
          $("#title").val("");
          $("#title").focus();
          alert(message);
          return false;
        }
        if($("#content").val().trim()=="") {
          var message = "본문 내용을 입력해 주세요";
          $("#content").val("");
          $("#content").focus();
          alert(message);
          return false;
        }
        if($("#passwd").val().trim()=="") {
          var message = "패스워드를 입력해 주세요";
          $("#passwd").val("");
          $("#passwd").focus();
          alert(message);
          return false;
        }
        if($("#image").val().trim()=="") {
          var message = "이미지를 업로드해 주세요";
          $("#image").val("");
          $("#image").focus();
          alert(message);
          return false;
        }
      }
    </script>
  </body>
</html>
-->
